@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 */
  /* font-size: 62.5%; */
}
